
<ion-view view-title="Login" ng-controller="LoginController as ctrl">
  <ion-content ng-show="vm.active">
    <div class="col center">
      <img src="img/logo_128.png" alt="Typo CV Maker">
    </div>
      <div class="list list-inset">
        <p>Write your username and password to login</p>
        <label class="item item-input">
          <input ng-model="username" type="text" placeholder="User Name">
        </label>
        <label class="item item-input">
          <input ng-model="password" type="password" placeholder="Password">
        </label>
        <div ng-if="vm.message">
          <span class="assertive">{{vm.message}}</span>
        </div>
        <button class="button button-block button-positive" ng-click="ctrl.login(username,password)">Login</button>
        <button class="button button-royal button-block" ui-sref="register">Register</button>
      </div>

  </ion-content>
  </ion-view>

